## HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS
### HEALTHCARE PROVIDER FRAUD DETECTION ANALYSIS

Description  

https://www.kaggle.com/rohitrox/healthcare-provider-fraud-detection-analysis  

Project Objectives Provider Fraud is one of the biggest problems facing Medicare. According to the government, the total Medicare spending increased exponentially due to frauds in Medicare claims. Healthcare fraud is an organized crime which involves peers of providers, physicians, beneficiaries acting together to make fraud claims.

Rigorous analysis of Medicare data has yielded many physicians who indulge in fraud. They adopt ways in which an ambiguous diagnosis code is used to adopt costliest procedures and drugs. Insurance companies are the most vulnerable institutions impacted due to these bad practices. Due to this reason, insurance companies increased their insurance premiums and as result healthcare is becoming costly matter day by day.

Healthcare fraud and abuse take many forms. Some of the most common types of frauds by providers are:

a) Billing for services that were not provided.

b) Duplicate submission of a claim for the same service.

c) Misrepresenting the service provided.

d) Charging for a more complex or expensive service than was actually provided.

e) Billing for a covered service when the service actually provided was not covered.

Problem Statement The goal of this project is to " predict the potentially fraudulent providers " based on the claims filed by them.along with this, we will also discover important variables helpful in detecting the behaviour of potentially fraud providers. further, we will study fraudulent patterns in the provider's claims to understand the future behaviour of providers.

Introduction to the Dataset For the purpose of this project, we are considering Inpatient claims, Outpatient claims and Beneficiary details of each provider. Lets s see their details :

A) Inpatient Data

This data provides insights about the claims filed for those patients who are admitted in the hospitals. It also provides additional details like their admission and discharge dates and admit d diagnosis code.

B) Outpatient Data

This data provides details about the claims filed for those patients who visit hospitals and not admitted in it.

C) Beneficiary Details Data

This data contains beneficiary KYC details like health conditions,regioregion they belong to etc.

In [1]:
# import libraries

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = [8,10]
plt.style.use("fivethirtyeight")
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score, make_scorer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegressionCV

### 1. Data Exploration

In [2]:
train_df = pd.read_csv('healthcare-provider-fraud-detection-analysis/Train-1542865627584.csv')

In [3]:
train_df.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [4]:
train_df[train_df['PotentialFraud']=='Yes'].count()

Provider          506
PotentialFraud    506
dtype: int64

In [5]:
outpatient_df = pd.read_csv('healthcare-provider-fraud-detection-analysis/Train_Outpatientdata-1542865627584.csv')

In [6]:
outpatient_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [7]:
inpatient_df = pd.read_csv('healthcare-provider-fraud-detection-analysis/Train_Inpatientdata-1542865627584.csv')

In [8]:
inpatient_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [18]:
inpatient_df.isna().sum()

BeneID                        0
ClaimID                       0
ClaimStartDt                  0
ClaimEndDt                    0
Provider                      0
InscClaimAmtReimbursed        0
AttendingPhysician          112
OperatingPhysician        16644
OtherPhysician            35784
AdmissionDt                   0
ClmAdmitDiagnosisCode         0
DeductibleAmtPaid           899
DischargeDt                   0
DiagnosisGroupCode            0
ClmDiagnosisCode_1            0
ClmDiagnosisCode_2          226
ClmDiagnosisCode_3          676
ClmDiagnosisCode_4         1534
ClmDiagnosisCode_5         2894
ClmDiagnosisCode_6         4838
ClmDiagnosisCode_7         7258
ClmDiagnosisCode_8         9942
ClmDiagnosisCode_9        13497
ClmDiagnosisCode_10       36547
ClmProcedureCode_1        17326
ClmProcedureCode_2        35020
ClmProcedureCode_3        39509
ClmProcedureCode_4        40358
ClmProcedureCode_5        40465
ClmProcedureCode_6        40474
dtype: int64

In [19]:
inpatient_df[inpatient_df['DeductibleAmtPaid'].isna()]

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
20,BENE11057,CLM36789,2009-02-03,2009-03-10,PRV51393,13000,PHY326399,PHY430692,NaN,2009-02-03,78605,NaN,2009-03-10,167,41519,53081,486,45340,73679,42731,04185,7907,4150,NaN,3995.0,NaN,NaN,NaN,NaN,NaN
21,BENE11057,CLM38115,2009-02-12,2009-02-18,PRV51342,10000,PHY375861,NaN,NaN,2009-02-12,0389,NaN,2009-02-18,853,99591,78552,V4511,2760,27651,486,41071,25000,2859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,BENE11494,CLM66768,2009-09-05,2009-09-15,PRV51501,18000,PHY327234,PHY348953,NaN,2009-09-05,41071,NaN,2009-09-15,255,4280,5990,45829,V4581,496,4110,41401,5716,25000,NaN,66.0,NaN,NaN,NaN,NaN,NaN
159,BENE11592,CLM34790,2009-01-21,2009-01-26,PRV55262,6000,PHY424100,NaN,NaN,2009-01-21,99664,NaN,2009-01-26,668,99664,3371,03811,70703,2869,27801,3569,58881,E8796,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,BENE11670,CLM37086,2009-02-05,2009-02-08,PRV52019,400,PHY416959,NaN,NaN,2009-02-05,6084,NaN,2009-02-08,711,60490,V1582,41401,56210,32723,V854,42731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,BENE11758,CLM31378,2008-12-28,2009-01-04,PRV53388,7000,PHY333863,NaN,NaN,2008-12-28,6271,NaN,2009-01-04,740,6273,2749,7230,42830,5859,29411,2448,V5867,V103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,BENE12225,CLM39949,2009-02-25,2009-03-12,PRV56276,13000,NaN,PHY404549,NaN,2009-02-25,6079,NaN,2009-03-12,689,40391,5679,5856,5990,3051,5855,99673,25040,2724,NaN,5493.0,NaN,NaN,NaN,NaN,NaN
347,BENE12255,CLM43290,2009-03-20,2009-03-24,PRV51245,3000,PHY315243,NaN,NaN,2009-03-20,78791,NaN,2009-03-24,629,7837,V1254,78321,4589,4019,78060,2769,73300,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,BENE12298,CLM53022,2009-05-28,2009-05-30,PRV56748,4000,PHY383151,PHY423869,PHY361104,2009-05-28,53550,NaN,2009-05-30,372,56211,42731,29410,4589,2749,60000,2449,41401,56400,NaN,4311.0,4019.0,NaN,NaN,NaN,NaN
402,BENE12503,CLM69108,2009-09-22,2009-09-25,PRV52072,4000,PHY427660,PHY313850,NaN,2009-09-22,78060,NaN,2009-09-25,855,78060,3569,44489,4241,2753,20280,42731,4019,78791,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,BENE12617,CLM72579,2009-10-19,2009-10-26,PRV55496,10000,PHY432788,NaN,NaN,2009-10-19,27651,NaN,2009-10-26,858,03812,2768,5849,5070,4280,99592,59080,79902,260,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,BENE12733,CLM46812,2009-04-13,2009-04-19,PRV52072,8000,PHY427660,PHY313850,NaN,2009-04-13,41519,NaN,2009-04-19,167,41519,34590,1911,45342,40390,2724,V1254,4142,56723,NaN,3893.0,NaN,NaN,NaN,NaN,NaN
469,BENE12752,CLM69687,2009-09-27,2009-10-03,PRV55171,7000,PHY359952,PHY399219,NaN,2009-09-27,920,NaN,2009-10-03,578,9221,87342,71590,73390,7245,4019,92310,515,3569,NaN,881.0,NaN,NaN,NaN,NaN,NaN
471,BENE12753,CLM38473,2009-02-15,2009-02-28,PRV53958,7000,PHY333460,PHY333460,NaN,2009-02-15,25013,NaN,2009-02-28,027,25061,262,5570,43889,5880,5363,41400,41401,30000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,BENE13066,CLM43786,2009-03-23,2009-04-03,PRV57567,4000,PHY330914,PHY372057,NaN,2009-03-23,3570,NaN,2009-04-03,074,3379,4168,27651,V1254,2859,3051,70715,72190,3501,NaN,392.0,NaN,NaN,NaN,NaN,NaN
571,BENE13119,CLM67390,2009-09-09,2009-09-13,PRV54258,11000,PHY430507,PHY430507,NaN,2009-09-09,78701,NaN,2009-09-13,096,25060,49320,5856,33385,99673,40391,28521,3572,4280,NaN,8891.0,NaN,NaN,NaN,NaN,NaN
634,BENE13355,CLM43850,2009-03-24,2009-03-26,PRV55462,13000,PHY422134,PHY429430,NaN,2009-03-24,486,NaN,2009-03-26,866,0389,42789,5849,99664,6825,33829,25000,49121,NaN,NaN,8604.0,NaN,NaN,NaN,NaN,NaN
730,BENE13722,CLM44766,2009-03-30,2009-04-11,PRV54971,47000,PHY327845,PHY327845,NaN,2009-03-30,1975,NaN,2009-04-11,388,1536,27651,2809,99592,56789,2768,41401,2762,1629,2859,4573.0,496.0,NaN,NaN,NaN,NaN
743,BENE13767,CLM31221,2008-12-25,2009-01-02,PRV57023,5000,PHY312782,NaN,NaN,2008-12-25,78605,NaN,2009-01-02,206,486,41401,4241,2536,V1261,4019,42731,2720,496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
832,BENE14036,CLM54264,2009-06-05,2009-06-26,PRV54942,124000,PHY372259,PHY346106,NaN,2009-06-05,4241,NaN,2009-06-26,296,41401,99931,42742,2761,5185,486,5184,71590,2989,NaN,3521.0,NaN,NaN,NaN,NaN,NaN
917,BENE14313,CLM52038,2009-05-21,2009-05-24,PRV53802,10000,PHY376027,PHY404683,PHY342581,2009-05-21,71596,NaN,2009-05-24,463,71516,41401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8154.0,NaN,NaN,NaN,NaN,NaN
964,BENE14450,CLM80445,2009-12-22,2009-12-27,PRV53749,3000,PHY383648,NaN,NaN,2009-12-22,7993,NaN,2009-12-27,948,33818,V5865,29040,5859,78609,25002,1978,28529,43820,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,BENE14571,CLM32001,2009-01-02,2009-01-16,PRV55180,19000,PHY412915,NaN,NaN,2009-01-02,29689,NaN,2009-01-16,876,29632,5531,4019,53081,2948,30520,2720,V5869,6268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,BENE14693,CLM36553,2009-02-02,2009-02-10,PRV54348,15000,PHY370193,PHY312648,NaN,2009-02-02,99673,NaN,2009-02-10,298,44021,25000,00845,5990,5819,2724,40391,58381,4240,NaN,3950.0,9961.0,NaN,NaN,NaN,NaN
1054,BENE14696,CLM32301,2009-01-04,2009-01-19,PRV52094,57000,PHY402132,PHY339814,PHY339814,2009-01-04,4139,NaN,2009-01-19,002,73008,73028,8604,99679,2869,58881,56983,0389,51881,NaN,3612.0,NaN,NaN,NaN,NaN,NaN
1060,BENE14711,CLM35587,2009-01-26,2009-02-02,PRV54773,6000,PHY346104,PHY408000,NaN,2009-01-26,99859,NaN,2009-02-02,872,9583,2720,2449,2409,04111,V4581,27800,V4582,2738,NaN,8622.0,NaN,NaN,NaN,NaN,NaN
1106,BENE14879,CLM62450,2009-08-04,2009-08-11,PRV54367,5000,PHY412508,PHY404394,NaN,2009-08-04,27651,NaN,2009-08-11,639,27651,4019,V4511,2762,4580,V1581,5856,5849,4280,NaN,3995.0,NaN,NaN,NaN,NaN,NaN
1112,BENE14889,CLM42673,2009-03-15,2009-03-23,PRV55690,26000,PHY358399,PHY349641,NaN,2009-03-15,486,NaN,2009-03-23,192,5070,8088,3051,V441,5303,496,4019,5533,7813,NaN,3893.0,NaN,NaN,NaN,NaN,NaN
1137,BENE14941,CLM68508,2009-09-18,2009-09-19,PRV54566,7000,PHY400474,NaN,NaN,2009-09-18,49121,NaN,2009-09-19,167,49121,486,V1302,V1582,1970,311,43820,1629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,BENE15163,CLM31695,2008-12-31,2009-01-10,PRV54986,34000,PHY428678,PHY371517,NaN,2008-12-31,70719,NaN,2009-01-10,597,70703,V420,6822,V854,7854,7135,4254,40391,70723,34400,3995.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39303,BENE154986,CLM52884,2009-05-26,2009-05-30,PRV51474,25000,PHY419755,PHY406390,NaN,2009-05-26,28262,NaN,2009-05-30,989,8052,2720,5849,0380,5990,51881,4019,41071,2762,73028,3995.0,2724.0,5849.0,NaN,NaN,NaN
39324,BENE155043,CLM32072,2009-01-02,2009-01-09,PRV56647,16000,PHY343985,PHY336252,NaN,2009-01-02,42731,NaN,2009-01-09,316,4588,4239,3558,42820,5601,5849,4423,5990,2859,NaN,3950.0,NaN,NaN,NaN,NaN,NaN
39381,BENE155256,CLM50441,2009-05-09,2009-05-13,PRV56560,5000,PHY347540,NaN,NaN,2009-05-09,78791,NaN,2009-05-13,355,00845,41401,53550,78959,4019,2948,2724,71690,78720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39416,BENE155343,CLM34161,2009-01-16,2009-01-24,PRV52393,4000,PHY422874,NaN,NaN,2009-01-16,29534,NaN,2009-01-24,881,29664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39481,BENE155552,CLM58790,2009-07-07,2009-07-20,PRV56749,17000,PHY345091,PHY366843,NaN,2009-07-07,5939,NaN,2009-07-20,671,1890,7140,185,42731,40390,49390,1891,25000,5119,NaN,554.0,4019.0,NaN,NaN,NaN,NaN
39554,BENE155833,CLM68580,2009-09-18,2009-09-20,PRV55673,10000,PHY414057,NaN,NaN,2009-09-18,78097,NaN,2009-09-20,070,43411,42731,41401,2841,3485,5119,2449,34290,40390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39565,BENE155851,CLM80687,2009-12-24,2009-12-30,PRV51242,4000,PHY405994,PHY336418,NaN,2009-12-24,45342,NaN,2009-12-30,302,45342,3320,V5866,2724,42731,7140,412,V5861,53081,NaN,9919.0,NaN,NaN,NaN,NaN,NaN
39583,BENE155916,CLM76174,2009-11-16,2009-11-17,PRV52173,9000,PHY418617,PHY408878,NaN,2009-11-16,41401,NaN,2009-11-17,257,41401,V5863,53081,412,5859,4019,4280,NaN,NaN,NaN,66.0,2724.0,NaN,NaN,NaN,NaN
39607,BENE156017,CLM78445,2009-12-04,2009-12-16,PRV52821,25000,PHY314410,PHY314410,NaN,2009-12-04,51882,NaN,2009-12-16,197,1629,185,E8788,70709,42731,53081,28522,79902,3363,NaN,8321.0,NaN,NaN,NaN,NaN,NaN
39641,BENE156173,CLM47184,2009-04-16,2009-05-21,PRV55195,48000,PHY425416,PHY425416,NaN,2009-04-16,78650,NaN,2009-05-21,913,99883,70719,28860,E8490,E8788,25000,44020,2859,5990,NaN,8622.0,NaN,NaN,NaN,NaN,NaN
39675,BENE156296,CLM55282,2009-06-12,2009-07-17,PRV55472,10000,PHY427369,PHY348547,NaN,2009-06-12,78060,NaN,2009-07-17,866,0389,99591,V4501,5990,2639,4589,486,5180,4280,NaN,9671.0,NaN,NaN,NaN,NaN,NaN
39682,BENE156313,CLM68773,2009-09-19,2009-09-25,PRV55689,4000,PHY335236,PHY402832,NaN,2009-09-19,78097,NaN,2009-09-25,052,4359,V4581,29410,42731,78900,V5865,V4589,29530,33829,NaN,8703.0,NaN,NaN,NaN,NaN,NaN
39770,BENE156735,CLM66328,2009-09-01,2009-09-06,PRV51948,4000,PHY361948,NaN,NaN,2009-09-01,78650,NaN,2009-09-06,289,42731,30000,40390,3572,2724,4011,4019,V4501,2449,4280,NaN,NaN,NaN,NaN,NaN,NaN
39774,BENE156745,CLM47885,2009-04-21,2009-04-21,PRV53441,10000,PHY334982,NaN,NaN,2009-04-21,5070,NaN,2009-04-21,178,5070,1120,4280,42731,2768,4168,27651,0389,0413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39892,BENE157100,CLM76240,2009-11-16,2009-11-22,PRV56541,21000,PHY398961,PHY398961,NaN,2009-11-16,25200,NaN,2009-11-22,669,4401,4280,2851,2762,25000,4168,2859,27542,40391,NaN,3950.0,NaN,NaN,NaN,NaN,NaN
39905,BENE157131,CLM53183,2009-05-28,2009-06-09,PRV57404,14000,PHY327567,PHY350709,NaN,2009-05-28,V5789,NaN,2009-06-09,939,V5789,4019,V5413,2851,7993,33829,7812,E9352,85221,NaN,9339.0,NaN,NaN,NaN,NaN,NaN
39935,BENE157252,CLM69496,2009-09-25,2009-09-27,PRV53677,12000,PHY401120,PHY408090,NaN,2009-09-25,5750,NaN,2009-09-27,446,57480,2449,496,71590,7948,V4501,V0481,V1582,NaN,NaN,5123.0,NaN,NaN,NaN,NaN,NaN
40010,BENE157566,CLM36478,2009-02-01,2009-02-21,PRV56438,7000,PHY376632,NaN,NaN,2009-02-01,78605,NaN,2009-02-21,239,42833,4280,40390,41401,486,4148,7140,42731,5990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40078,BENE157859,CLM39285,2009-02-20,2009-03-27,PRV53774,2000,PHY323173,PHY407502,NaN,2009-02-20,4280,NaN,2009-03-27,195,48283,5715,7580,5990,2510,07054,2768,3331,99591,NaN,3404.0,NaN,NaN,NaN,NaN,NaN
40110,BENE157969,CLM35815,2009-01-27,2009-03-03,PRV54765,57000,PHY431177,PHY352941,NaN,2009-01-27,78900,NaN,2009-03-03,416,5768,E8788,2859,2762,E8786,V1582,4280,42832,1962,NaN,5022.0,NaN,NaN,NaN,NaN,NaN
40121,BENE157985,CLM47668,2009-04-19,2009-04-22,PRV55019,3000,PHY414914,NaN,NaN,2009-04-19,78607,NaN,2009-04-22,186,49122,30000,78820,4739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40136,BENE158042,CLM33948,2009-01-15,2009-01-24,PRV54348,20000,PHY370193,PHY312648,NaN,2009-01-15,42731,NaN,2009-01-24,198,5070,486,5990,3569,49121,4019,34830,5849,5881,NaN,9671.0,NaN,NaN,NaN,NaN,NaN
40137,BENE158042,CLM35142,2009-01-23,2009-01-25,PRV54367,6000,PHY404394,PHY404394,NaN,2009-01-23,78659,NaN,2009-01-25,182,49322,486,61801,3899,32723,5859,5856,V5869,NaN,NaN,9390.0,NaN,NaN,NaN,NaN,NaN
40138,BENE158042,CLM35295,2009-01-24,2009-01-27,PRV54382,4000,PHY421838,NaN,NaN,2009-01-24,311,NaN,2009-01-27,884,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40292,BENE158540,CLM59458,2009-07-12,2009-07-26,PRV52398,99000,PHY428943,PHY385791,NaN,2009-07-12,5856,NaN,2009-07-26,683,40391,7291,E8780,7885,4270,5856,53081,41092,2449,4019,5569.0,5839.0,NaN,NaN,NaN,NaN
40296,BENE158552,CLM36481,2009-02-01,2009-02-03,PRV51119,7000,PHY427917,NaN,PHY376316,2009-02-01,486,NaN,2009-02-03,196,4809,4019,51883,79902,56400,41401,4589,4240,2449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40367,BENE158815,CLM50034,2009-05-06,2009-05-13,PRV52821,14000,PHY314410,PHY314410,NaN,2009-05-06,8208,NaN,2009-05-13,497,8208,41401,3310,42653,4280,5939,42731,30550,4549,7140,8151.0,NaN,NaN,NaN,NaN,NaN
40374,BENE158835,CLM47669,2009-04-19,2009-04-28,PRV57165,5000,PHY313321,NaN,NaN,2009-04-19,7242,NaN,2009-04-28,462,7210,53081,7213,41400,71590,78079,V1351,2948,9130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40409,BENE158946,CLM74440,2009-11-02,2009-11-04,PRV55000,10000,PHY375969,PHY375969,NaN,2009-11-02,78605,NaN,2009-11-04,201,80702,41401,1983,4019,78491,1987,NaN,NaN,NaN,NaN,3422.0,NaN,NaN,NaN,NaN,NaN
40466,BENE159166,CLM38690,2009-02-16,2009-02-18,PRV51440,11000,PHY393635,PHY332778,PHY398228,2009-02-16,78650,NaN,2009-02-18,234,4271,53540,2449,42732,4168,V1271,4148,V4582,V4502,NaN,66.0,NaN,NaN,NaN,NaN,NaN

In [10]:
inpatient_df['BeneID'].unique().size

31289

In [11]:
inpatient_df.describe()

,InscClaimAmtReimbursed,DeductibleAmtPaid,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
count,40474.000000,39575.0,23148.000000,5454.000000,965.000000,116.000000,9.000000,0.0
mean,10087.884074,1068.0,5894.611759,4103.738174,4226.355440,4070.172414,5269.444444,NaN
std,10303.099402,0.0,3049.304400,2028.182156,2282.761581,1994.409802,2780.071632,NaN
min,0.000000,1068.0,11.000000,42.000000,42.000000,42.000000,2724.000000,NaN
25%,4000.000000,1068.0,3848.000000,2724.000000,2724.000000,2758.750000,4139.000000,NaN
50%,7000.000000,1068.0,5369.000000,4019.000000,4019.000000,4019.000000,4139.000000,NaN
75%,12000.000000,1068.0,8666.250000,4439.000000,5185.000000,4439.000000,5185.000000,NaN
max,125000.000000,1068.0,9999.000000,9999.000000,9999.000000,9986.000000,9982.000000,NaN

In [12]:
beneficiary_df = pd.read_csv('healthcare-provider-fraud-detection-analysis/Train_Beneficiarydata-1542865627584.csv')

In [13]:
beneficiary_df.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,2,2,2,2,2,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,1,2,2,2,2,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,1,1,2,2,2,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,2,2,2,2,1,2,1,2,2,2,2,0,0,1790,1200

In [14]:
beneficiary_df.describe()

,Gender,Race,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
count,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000,138556.000000
mean,1.570932,1.254511,25.666734,374.424745,11.907727,11.910145,1.667817,1.506322,1.687643,1.880041,1.762847,1.644476,1.398142,1.324143,1.725317,1.743180,1.920942,3660.346502,399.847296,1298.219348,377.718258
std,0.494945,0.717007,15.223443,266.277581,1.032332,0.936893,0.470998,0.499962,0.463456,0.324914,0.425339,0.478674,0.489517,0.468056,0.446356,0.436881,0.269831,9568.621827,956.175202,2493.901134,645.530187
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-8000.000000,0.000000,-70.000000,0.000000
25%,1.000000,1.000000,11.000000,141.000000,12.000000,12.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,170.000000,40.000000
50%,2.000000,1.000000,25.000000,340.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,0.000000,0.000000,570.000000,170.000000
75%,2.000000,1.000000,39.000000,570.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2280.000000,1068.000000,1500.000000,460.000000
max,2.000000,5.000000,54.000000,999.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,161470.000000,38272.000000,102960.000000,13840.000000

### 2. Combining Dataframes